.image-container {
  margin: .1rem;
  border: 1px solid #dedede;
  background-color: #fff;
  border-radius: 1.5rem;
  cursor: pointer;
  display: inline-block;
  width: 100%;
}

.image-container > img {
  border-radius: 1.5rem;
  display:block;
  width: 100%;
}

.image-container > img:hover {
  opacity: .8;
}

.image-user {
  display: flex;
  justify-content: space-around;
}

.image-user > div > img {
  border-radius: 100%;
  height: 3rem;
}

.image-user > div > h1 {
  color: rgb(129, 123, 123);
  font-size: 1.3rem;
  font-family: 'Lucida Bright';
  margin-left: 1rem;
}

.followers {
color: rgb(129, 123, 123);
  font-size: .7rem;
  font-family: 'Lucida Bright';
  margin-left: 1rem;
}