.image-container {
  margin: .1rem;
  /* border: 1px solid #dedede; */
  background-color: #fff;
  border-radius: 1.5rem;
  cursor: pointer;
}

.image-container > img {
  border-radius: 1.5rem;
}

.image-container > img:hover {
  opacity: .8;
}

.image-user {
  display: flex;
  justify-content: space-around;
}

.image-user > img {
  border-radius: 1rem;
  width: 2rem;
  height: 2rem;
}

.image-user > span {
  color: rgb(129, 123, 123);
  font-size: .8rem;
}